<!DOCTYPE html>
<style>
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:200');
#font {
    font-family: 'Julius Sans One', sans-serif;
}
#font2 {
    font-family: 'Barlow Condensed', sans-serif;
}
</style>


<script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript">

        // Called on form's `onsubmit`
        function tosubmit() {
            // Getting the value of your text input
            var mytext = document.getElementById("mytext").value;

            // Storing the value above into localStorage
            localStorage.setItem("mytext", mytext);

            return true;
        }

</script>

<html lang="en">
<head>
  <title>Search Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">STYLU</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/posts">Results</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron text-center">
    <h1 id="font">STYLU</h1>
      <br>
      <br>
    <p id="font2">what do you want to find a match for?</p>
  </div>
</div>

<br>
<br>
<div class="container">
  <p>What item do you want to build an outfit around?</p>
  <form name="myform" onSubmit="tosubmit();" action="/posts">
    <div class="form-group">
      <input type="text" class="form-control" id="mytext" placeholder="Enter item" name="data">
      <span class="help-block">We'll recommend relevant and shoppable outfits for you.</span>
    </div>
      <a href="/posts" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</a>

  </form>
</div>
</body>
</html>