{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">STYLU</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/posts">Results</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<div class='col-sm-6' >
    {% if object.image %}
    <img src='{{ object.image.url }}' class='img-responsive' />
    {% endif %}
</div>

    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/Fashion-Mens-Cashmere-Scarf-Pure-Color-Classic-Winter-Scarves-Stole-Wraps-Shawl-/162577355622?var=&hash=item25da5d9366%3Am%3AmQcfdqc0khpOnEo4NiVDz0Q&_trkparms=pageci%253Aa4d35584-afa4-11e7-890f-74dbd1809a53%257Cparentrq%253A12e846c115f0aa4170040263fffbee59%257Ciid%253A2" target="_blank">
          <img src="/media/tmp_images/i_1.png" alt="Scarf1" style="width:100%">
          <div class="caption">
            <p class="text-center">Scarf 1</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/Classic-Business-Mens-Scarf-Cashmere-Pure-Color-Winter-Designer-Scarves-Wrap-/382173733593?var=&hash=item58fb5462d9%3Am%3AmHbQVc-IBwzoYbyNbLnG7rQ&_trkparms=pageci%253Aa4d35584-afa4-11e7-890f-74dbd1809a53%257Cparentrq%253A12e846c115f0aa4170040263fffbee59%257Ciid%253A8" target="_blank">
          <img src="/media/tmp_images/i_2.png" alt="Scarf2" style="width:90%">
          <div class="caption">
            <p class="text-center">Scarf 2</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/Mens-Classic-Cashmere-Shawl-Winter-Warm-Long-Fringe-Striped-Tassel-Scarf-SM-/152265989557?var=&hash=item2373c29db5%3Am%3AmyxAOufmUSte5ABpJRLCNew&_trkparms=pageci%253Aa4d35584-afa4-11e7-890f-74dbd1809a53%257Cparentrq%253A12e846c115f0aa4170040263fffbee59%257Ciid%253A9" target="_blank">
          <img src="/media/tmp_images/i_3.png" alt="Scarf3" style="width:95%">
          <div class="caption">
            <p class="text-center">Scarf 3</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/FRAME-199-Mens-LHomme-Skinny-Leg-Jeans-Pants-in-Noir-Black-Size-29-New-/152730052675?hash=item238f6ba843" target="_blank">
          <img src="/media/tmp_images/i_4.png" alt="Pants1" style="width:70%">
          <div class="caption">
            <p class="text-center">Pants 1</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/New-ENZO-Mens-Skinny-Super-Stretch-Fit-Ripped-Denim-Jeans-All-Waist-Blue-Black-/142274264590?var=441353549650&hash=item212034fe0e%3Ag%3AP54AAOSwXYtYyQmb&_trkparms=pageci%253A389dc6a6-afa8-11e7-a963-74dbd1805b97%257Cparentrq%253A12ffb87715f0abd836bed0d3fffbcceb%257Ciid%253A5" target="_blank">
          <img src="/media/tmp_images/i_5.png" alt="Pants2" style="width:50%">
          <div class="caption">
            <p class="text-center">Pants 2</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/ALL-SAINTS-BLACK-PRINT-CIGARETTE-JEANS-30-/322822599162?hash=item4b29b9f1fa%3Ag%3AUEkAAOSwAJFZ3478&_trkparms=pageci%253A389dc6a6-afa8-11e7-a963-74dbd1805b97%257Cparentrq%253A12ffb87715f0abd836bed0d3fffbcceb%257Ciid%253A43" target="_blank">
          <img src="/media/tmp_images/i_6.png" alt="Pants3" style="width:80%">
          <div class="caption">
            <p class="text-center">Pants 3</p>
          </div>
        </a>
      </div>
    </div>

<div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/Men-Pointy-toe-Business-Dress-Formal-Leather-Shoes-Flat-Oxfords-Loafers-Lace-up-/352126907091?var=621578754451&hash=item51fc6632d3%3Ag%3AGO0AAOSwawVZeusS&_trkparms=pageci%253A6df2a5eb-afa6-11e7-baca-74dbd180b356%257Cparentrq%253A12f3fa8015f0a9cd86e67861fffc7be0%257Ciid%253A16" target="_blank">
          <img src="/media/tmp_images/i_10.png" alt="Shoes1" style="width:100%">
          <div class="caption">
            <p class="text-center">Shoes 1</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/KENNETH-COLE-DRESS-SHOES-BLACK-SIZE-7-MENS-/253200169293?hash=item3af3e7f94d%3Ag%3ACfEAAOSwPWRZWYC5&_trkparms=pageci%253A6df2a5eb-afa6-11e7-baca-74dbd180b356%257Cparentrq%253A12f3fa8015f0a9cd86e67861fffc7be0%257Ciid%253A25" target="_blank">
          <img src="/media/tmp_images/i_11.png" alt="Shoes2" style="width:85%">
          <div class="caption">
            <p class="text-center">Shoes 2</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/Florsheim-Mens-Jet-Plain-Oxford-/122724711918?var=423138774694&epid=1808785888&hash=item1c92f67dee%3Ag%3AfxMAAOSwNglZyVs6&_trkparms=pageci%253A6df2a5eb-afa6-11e7-baca-74dbd180b356%257Cparentrq%253A12f3fa8015f0a9cd86e67861fffc7be0%257Ciid%253A34" target="_blank">
          <img src="/media/tmp_images/i_12.png" alt="Shoes3" style="width:92%">
          <div class="caption">
            <p class="text-center">Shoes 3</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/Luxury-New-Fashion-Mens-Slim-Fit-Shirt-Long-Sleeve-Dress-Shirts-Casual-Shirt-Top-/112260601775?var=412676121995&hash=item1a2340d7af%3Ag%3AwC0AAOSwA3dYT9CE&_trkparms=pageci%253A59208f0e-afa5-11e7-889e-74dbd1807aaf%257Cparentrq%253A12ece45e15f0a9c99ffaaff4fffbdc05%257Ciid%253A1" target="_blank">
          <img src="/media/tmp_images/i_7.png" alt="Shirt1" style="width:86%">
          <div class="caption">
            <p class="text-center">Shirt 1</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/Mens-Bohio-Cotton-White-Print-Fishing-Vented-Long-Sleeve-Shirt-S-5XL-MCSF500-/172891042309?var=&hash=item28411bf205" target="_blank">
          <img src="/media/tmp_images/i_8.png" alt="Shirt2" style="width:69%">
          <div class="caption">
            <p class="text-center">Shirt 2</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://www.ebay.com/itm/New-Fashion-Mens-Luxury-Business-Stylish-Slim-Fit-Long-Sleeve-Casual-Dress-Shirt-/142210279638?var=441278500570&hash=item211c64a8d6%3Ag%3AAsEAAOSwEzxYT1u6&_trkparms=pageci%253A59208f0e-afa5-11e7-889e-74dbd1807aaf%257Cparentrq%253A12ece45e15f0a9c99ffaaff4fffbdc05%257Ciid%253A5" target="_blank">
          <img src="/media/tmp_images/i_9.png" alt="Shirt3" style="width:90%">
          <div class="caption">
            <p class="text-center">Shirt 3</p>
          </div>
        </a>
      </div>
    </div>

</div>


<!--<h1>{{ object.title }} <small>{% if object.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ object.publish }}</small></h1>-->
<!--{% if object.user.get_full_name %}-->
<!--<p>Author: {{ object.user.get_full_name }}</p>-->
<!--{% endif %}-->

<!--<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>-->
<!--<hr/>-->
<!--</p>-->

<!-- <p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ object.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ object.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>

</p> -->
<!--<div class='row'>-->
<!--<div class='col-sm-12'>-->

<!--{{ object.content|linebreaks }}-->

<!--<hr/>-->
<!--<br/>-->
<!--<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--{% endblock content %}-->
